[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Plug appnameplaceholder Paint
Exec=/opt/usr/bin/plugandpaint
Icon=plugandpaint
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
