[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QXmlStream Bookmarks
Exec=/opt/usr/bin/streambookmarks
Icon=streambookmarks
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
