[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Threaded Fortune Server
Exec=/opt/usr/bin/threadedfortuneserver
Icon=threadedfortuneserver
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
