[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QtConcurrent Image Scaling
Exec=/opt/usr/bin/imagescaling
Icon=imagescaling
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
