tst_selftests
assert/tst_assert
cmptest/tst_cmptest
crashes/tst_crashes
datatable/tst_datatable
datetime/tst_datetime
differentexec/tst_differentexec
exception/tst_exception
expectfail/tst_expectfail
failinit/tst_failinit
failinitdata/tst_failinitdata
fetchbogus/tst_fetchbogus
globaldata/tst_globaldata
maxwarnings/tst_maxwarnings
multiexec/tst_multiexec
qexecstringlist/tst_qexecstringlist
singleskip/tst_singleskip
skip/tst_skip
skipglobal/tst_skipglobal
skipinit/tst_skipinit
skipinitdata/tst_skipinitdata
sleep/tst_sleep
strcmp/tst_strcmp
subtest/tst_subtest
waitwithoutgui/tst_waitwithoutgui
warnings/tst_warnings
