# This file is used to ignore files which are generated in the Qt build system
# ----------------------------------------------------------------------------

examples/*/*/*
!examples/*/*/*[.]*
!examples/*/*/README
examples/*/*/*[.]app
!examples/declarative/*
!examples/tutorials/*
!examples/tutorials/*/*
!examples/ja_JP/*/*
demos/*/*
!demos/spectrum/*
demos/spectrum/bin
!demos/*/*[.]*
demos/*/*[.]app
!demos/declarative/*
config.tests/*/*/*
!config.tests/*/*/*[.]*
config.tests/*/*/*[.]app

callgrind.out.*
pcviewer.cfg
*~
*.a
*.la
*.core
*.moc
*.o
*.obj
*.orig
*.swp
*.rej
*.so
*.pbxuser
*.mode1
*.mode1v3
*_pch.h.cpp
*_resource.rc
.#*
*.*#
core
.qmake.cache
.qmake.vars
*.prl
tags
.DS_Store
*.debug
Makefile*
!qmake/Makefile.win32*
!qmake/Makefile.unix
*.prl
*.app
*.pro.user
*.qmlproject.user
*.gcov
bin/Qt*.dll
bin/assistant*
bin/designer*
bin/dumpcpp*
bin/idc*
bin/linguist*
bin/lrelease*
bin/lupdate*
bin/lconvert*
bin/moc*
bin/makeqpf*
bin/pixeltool*
bin/qmake*
bin/qdoc3*
bin/qt3to4*
bin/qtdemo*
bin/qttracereplay*
bin/rcc*
bin/uic*
bin/patternist*
bin/phonon*
bin/qcollectiongenerator*
bin/qdbus*
bin/qhelpconverter*
bin/qhelpgenerator*
bin/qtconfig*
bin/xmlpatterns*
bin/cetest*
bin/collectiongenerator
bin/helpconverter
bin/helpgenerator
bin/kmap2qmap*
bin/qlalr*
bin/qmlconv*
bin/qmldebugger*
bin/qml*
bin/qttracereplay*
configure.cache
config.status
mkspecs/default
mkspecs/qconfig.pri
moc_*.cpp
qmake/qmake.exe
qmake/Makefile.bak
src/corelib/global/qconfig.cpp
src/corelib/global/qconfig.h
src/corelib/global/qconfig.h.qmake
ui_*.h
tests/auto/qprocess/test*/*.exe
tests/auto/qtcpsocket/stressTest/*.exe
tests/auto/qprocess/fileWriterProcess/*.exe
tests/auto/qmake/testdata/quotedfilenames/*.exe
tests/auto/compilerwarnings/*.exe
tests/auto/qmake/testdata/quotedfilenames/test.cpp
tests/auto/qprocess/fileWriterProcess.txt
.com.apple.timemachine.supported
tests/auto/qlibrary/libmylib.so*
tests/auto/qresourceengine/runtime_resource.rcc
tools/activeqt/testcon/testcon.tlb
translations/*.qm
translations/*_untranslated.ts
qrc_*.cpp

src/corelib/qtcoreversion.h
src/dbus/qtdbusversion.h
src/gui/qtguiversion.h
src/network/qtnetworkversion.h
src/opengl/qtopenglversion.h
src/openvg/qtopenvgversion.h
src/sql/qtsqlversion.h
src/testlib/qttestversion.h
src/xml/qtxmlversion.h
src/v8/qtv8version.h

# Test generated files
QObject.log
tst_*
!tst_*.*
tst_*.log
tst_*.debug
tst_*~

# xemacs temporary files
*.flc

# Vim temporary files
.*.swp

# Visual Studio generated files
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# MinGW generated files
*.Debug
*.Release

# WebKit temp files
src/3rdparty/webkit/WebCore/mocinclude.tmp
src/3rdparty/webkit/includes.txt
src/3rdparty/webkit/includes2.txt

# Symlinks generated by configure
tools/qvfb/qvfbhdr.h
tools/qvfb/qlock_p.h
tools/qvfb/qlock.cpp
tools/qvfb/qwssignalhandler.cpp
tools/qvfb/qwssignalhandler_p.h
.DS_Store
.pch
.rcc
*.app
config.status
config.tests/unix/cups/cups
config.tests/unix/getaddrinfo/getaddrinfo
config.tests/unix/getifaddrs/getifaddrs
config.tests/unix/iconv/iconv
config.tests/unix/ipv6/ipv6
config.tests/unix/ipv6ifname/ipv6ifname
config.tests/unix/largefile/largefile
config.tests/unix/nis/nis
config.tests/unix/odbc/odbc
config.tests/unix/openssl/openssl
config.tests/unix/stl/stl
config.tests/unix/zlib/zlib
config.tests/unix/3dnow/3dnow
config.tests/unix/mmx/mmx
config.tests/unix/sse/sse
config.tests/unix/sse2/sse2



# Directories to ignore
# ---------------------

debug
examples/tools/plugandpaint/plugins
include/*
include/*/*
lib/*
!lib/fonts
!lib/README
plugins/*/*
release
tmp
doc-build
doc/html/*
doc/qch
doc-build
.rcc
.pch
.metadata

# Symbian build system generated files
# ---------------------

ABLD.BAT
bld.inf*
*.mmp
*.mk
*.rss
*.loc
!s60main.rss
*.pkg
plugin_commonu.def
*.qtplugin
*.sis
*.sisx
*.lst
*.exe
*.mif
*.rsc
*.sym
*.lib

# runonphone crash dumps
d_exc_*.txt
d_exc_*.stk

# Generated by abldfast.bat from devtools.
.abldsteps.*

# Carbide project files
# ---------------------
.project
.cproject
.make.cache
*.d

qtc-debugging-helper
src/corelib/lib
src/network/lib
src/xml/lib/

.pc/

# INTEGRITY generated files
*.gpj
*.int
*.ael
*.dla
*.dnm
*.dep
*.map
work


#generated module def and version header files
mkspecs/modules/qt_*.pri
mkspecs/qmodule.pri
src/uitools/qtuitoolsversion.h
tools/uilib/qtdesignerversion.h


#unit tests executables
selftests/assert/assert
selftests/badxml/badxml
selftests/benchlibcallgrind/benchlibcallgrind
selftests/benchlibeventcounter/benchlibeventcounter
selftests/benchliboptions/benchliboptions
selftests/benchlibtickcounter/benchlibtickcounter
selftests/benchlibwalltime/benchlibwalltime
selftests/cmptest/cmptest
selftests/commandlinedata/commandlinedata
selftests/crashes/crashes
selftests/datatable/datatable
selftests/datetime/datetime
selftests/differentexec/differentexec
selftests/exceptionthrow/exceptionthrow
selftests/expectfail/expectfail
selftests/failinit/failinit
selftests/failinitdata/failinitdata
selftests/fetchbogus/fetchbogus
selftests/globaldata/globaldata
selftests/longstring/longstring
selftests/maxwarnings/maxwarnings
selftests/multiexec/multiexec
selftests/qexecstringlist/qexecstringlist
selftests/singleskip/singleskip
selftests/skip/skip
selftests/skipglobal/skipglobal
selftests/skipinit/skipinit
selftests/skipinitdata/skipinitdata
selftests/sleep/sleep
selftests/strcmp/strcmp
selftests/subtest/subtest
selftests/waitwithoutgui/waitwithoutgui
selftests/warnings/warnings
selftests/xunit/xunit
