# This file is used to ignore files which are generated in the Qt build system
# ----------------------------------------------------------------------------

# Specific files/paths

# qmake/configure stuff
/.qmake.cache
/.qmake.stash
/config.tests/*/*/*
!/config.tests/*/*/*[.]*
/config.tests/.qmake.cache
/config.tests/.qmake.stash
/config.tests/arch/arch
/config.tests/conftest-out
/config.tests/conftest.cpp
/config.opt
/config.status*
/config.summary
/config.log
/config.cache
/mkspecs/modules/qt_*.pri
/mkspecs/modules-inst/
/mkspecs/qconfig.pri
/mkspecs/qdevice.pri
/mkspecs/qmodule.pri
/src/corelib/global/qconfig.cpp
/src/corelib/global/qconfig.h
/src/corelib/global/qconfig_p.h
/src/gui/vulkan/qvulkanfunctions.h
/src/gui/vulkan/qvulkanfunctions_p.cpp
/src/gui/vulkan/qvulkanfunctions_p.h
/bin/qt.conf
/bin/qmake
/bin/qvkgen
/qmake/qmake
qt*-config.h
qt*-config_p.h
qt*-config.pri
*.pyc
.mypy_cache
__pycache__

/include/

/lib/*
!/lib/README
/plugins/

/qml/

/doc/*.qch
/doc/activeqt
/doc/qdoc
/doc/qmake
/doc/qt*/*

# FIXME: Ignore these again?
# /examples/*/*/*
# !/examples/*/*/*[.]*
# !/examples/*/*/README
# !/examples/*/doc/*
# !/examples/*/doc/*/*

/translations/*.qm
/translations/*_en.ts
/translations/*_untranslated.ts

# This includes binaries from other modules because of non-prefix builds.
/bin/assistant
/bin/designer
/bin/dumpcpp
/bin/dumpdoc
/bin/idc
/bin/kmap2qmap
/bin/lconvert
/bin/linguist
/bin/lrelease
/bin/lupdate
/bin/moc
/bin/patternist
/bin/phonon
/bin/pixeltool
/bin/qcollectiongenerator
/bin/qdbus
/bin/qdbuscpp2xml
/bin/qdbusviewer
/bin/qdbusxml2cpp
/bin/qdoc
/bin/qev
/bin/qfloat16-tables
/bin/qglinfo
/bin/qgltf
/bin/qhelpconverter
/libexec/qhelpgenerator
/bin/qlalr
/bin/qml
/bin/qmleasing
/bin/qmlimportscanner
/bin/qmljs
/bin/qmllint
/bin/qmlmin
/bin/qmlplugindump
/bin/qmlprofiler
/bin/qmlscene
/bin/qmltestrunner
/bin/qtattributionsscanner
/bin/qtdiag
/bin/qtpaths
/bin/qtplugininfo
/bin/rcc
/bin/servicefw
/bin/sfwlisten
/bin/uic
/bin/xmlpatterns
/bin/xmlpatternsvalidator

# Unit tests libs/plugins/data
/tests/auto/cmake/build/
/tests/auto/corelib/mimetypes/qmimedatabase/qmimedatabase-cache/mime/
/tests/auto/corelib/mimetypes/qmimedatabase/qmimedatabase-xml/mime/
/tests/auto/corelib/plugin/qlibrary/libmylib.so2
/tests/auto/corelib/plugin/qlibrary/mylib.dl2
/tests/auto/qlibrary/libmylib.so*
/tests/auto/qmake/testdata/quotedfilenames/test.cpp
/tests/auto/qprocess/fileWriterProcess.txt

# Unit tests executables (other than those named tst_*)
/tests/auto/corelib/global/qlogging/app/app
/tests/auto/corelib/io/qlockfile/qlockfiletesthelper/qlockfile_test_helper
/tests/auto/corelib/io/qprocess-noapplication/qprocess-noapplication
/tests/auto/corelib/io/qprocess/testForwarding/testForwarding
/tests/auto/corelib/io/qprocess/testProcessHang/testProcessHang
/tests/auto/corelib/io/qresourceengine/qresourceengine
/tests/auto/corelib/kernel/qsharedmemory/helperbinary
/tests/auto/corelib/kernel/qsystemsemaphore/helperbinary
/tests/auto/corelib/plugin/quuid/testProcessUniqueness/testProcessUniqueness
/tests/auto/corelib/thread/qthreadstorage/crashOnExit
/tests/auto/corelib/thread/qthreadstorage/crashonexit/crashonexit
/tests/auto/corelib/tools/qcommandlineparser/testhelper/qcommandlineparser_test_helper
/tests/auto/dbus/qdbusabstractadaptor/qmyserver/qmyserver
/tests/auto/dbus/qdbusabstractinterface/qpinger/qpinger
/tests/auto/dbus/qdbusinterface/qmyserver/qmyserver
/tests/auto/gui/kernel/qfileopenevent/qfileopeneventexternal/qfileopeneventexternal
/tests/auto/gui/kernel/qguivariant/no_application/no_application
/tests/auto/network/socket/qlocalsocket/socketprocess/socketprocess
/tests/auto/other/qobjectrace/qobjectrace
/tests/auto/other/qprocess_and_guieventloop/write-read-write/write-read-write
/tests/auto/testlib/selftests/assert/assert
/tests/auto/testlib/selftests/badxml/badxml
/tests/auto/testlib/selftests/benchlibcallgrind/benchlibcallgrind
/tests/auto/testlib/selftests/benchlibcounting/benchlibcounting
/tests/auto/testlib/selftests/benchlibeventcounter/benchlibeventcounter
/tests/auto/testlib/selftests/benchliboptions/benchliboptions
/tests/auto/testlib/selftests/benchlibtickcounter/benchlibtickcounter
/tests/auto/testlib/selftests/benchlibwalltime/benchlibwalltime
/tests/auto/testlib/selftests/blacklisted/blacklisted
/tests/auto/testlib/selftests/cmptest/cmptest
/tests/auto/testlib/selftests/commandlinedata/commandlinedata
/tests/auto/testlib/selftests/counting/counting
/tests/auto/testlib/selftests/crashes/crashes
/tests/auto/testlib/selftests/datatable/datatable
/tests/auto/testlib/selftests/datetime/datetime
/tests/auto/testlib/selftests/differentexec/differentexec
/tests/auto/testlib/selftests/exceptionthrow/exceptionthrow
/tests/auto/testlib/selftests/expectfail/expectfail
/tests/auto/testlib/selftests/failcleanup/failcleanup
/tests/auto/testlib/selftests/failinit/failinit
/tests/auto/testlib/selftests/failinitdata/failinitdata
/tests/auto/testlib/selftests/fetchbogus/fetchbogus
/tests/auto/testlib/selftests/findtestdata/findtestdata
/tests/auto/testlib/selftests/float/float
/tests/auto/testlib/selftests/globaldata/globaldata
/tests/auto/testlib/selftests/longstring/longstring
/tests/auto/testlib/selftests/maxwarnings/maxwarnings
/tests/auto/testlib/selftests/multiexec/multiexec
/tests/auto/testlib/selftests/printdatatags/printdatatags
/tests/auto/testlib/selftests/printdatatagswithglobaltags/printdatatagswithglobaltags
/tests/auto/testlib/selftests/qexecstringlist/qexecstringlist
/tests/auto/testlib/selftests/silent/silent
/tests/auto/testlib/selftests/singleskip/singleskip
/tests/auto/testlib/selftests/skip/skip
/tests/auto/testlib/selftests/skipcleanup/skipcleanup
/tests/auto/testlib/selftests/skipglobal/skipglobal
/tests/auto/testlib/selftests/skipinit/skipinit
/tests/auto/testlib/selftests/skipinitdata/skipinitdata
/tests/auto/testlib/selftests/sleep/sleep
/tests/auto/testlib/selftests/strcmp/strcmp
/tests/auto/testlib/selftests/subtest/subtest
/tests/auto/testlib/selftests/verbose1/verbose1
/tests/auto/testlib/selftests/verbose2/verbose2
/tests/auto/testlib/selftests/verifyexceptionthrown/verifyexceptionthrown
/tests/auto/testlib/selftests/waitwithoutgui/waitwithoutgui
/tests/auto/testlib/selftests/warnings/warnings
/tests/auto/testlib/selftests/junit/junit
/tests/auto/widgets/kernel/qapplication/modal/modal

QObject.log
tst_*
!tst_*.*
tst_*.log
tst_*.debug
tst_*~

# Generic directories
.metadata/
.pc/
debug/
release/
tmp/
tmp-debug/
tmp-debug-shared/
tmp-release/
tmp-release-shared/
qtc-qmldump/
qtc-qmldbg/
*.app/
*.d/

# Generic files
.#*
.com.apple.timemachine.supported
.DS_Store
callgrind.out.*
core
Makefile*
!/qmake/Makefile.win32*
!/qmake/Makefile.unix
pcviewer.cfg
tags
*~
*.a
*.la
*.core
*.dll
*.exe
*.dylib
*.gcov
*.gcda
*.gcno
*.lib
!Info.plist.lib
*.o
*.obj
*.orig
*.swp
*.rej
*.so
*.so.*
*.pbxuser
*.mode1
*.mode1v3
*_resource.rc
*.*#
*.debug

# xemacs temporary files
*.flc

# Vim temporary files
.*.swp

# Visual Studio generated files
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.ncb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe.embed.manifest
*.exe_manifest.rc
*.exe_manifest.res

# Visual Studio Code generated files
.vscode

# CLion generated files
.idea

# Qt Creator generated files
*.pro.user*
*.qmlproject.user*
CMakeLists.txt.user*

# INTEGRITY generated files
*.ael
*.dla
*.dnm
*.dep
*.map

# Precompiled headers
*.gch
*.pchi
*.pchi.cpp
*_pch.obj
*_pch.pch

# Qt-specific files
codeattributions.qdoc
moc_*.cpp
qrc_*.cpp
ui_*.h
*.moc
*.prl
*.rcc

# Generated by qt_module.prf
*.version
*.version.in

# Generated by qtPrepareTool()
wrapper.sh
wrapper.bat
*_wrapper.sh
*_wrapper.bat

# Generated by dbusxml2cpp
*_interface.*
*_adaptor.*

# Generated by qt.prf
*_plugin_import.cpp

# cmake related artifacts
/build*
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
*_autogen
tst_*.xml
