[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Dynamic Layouts
Exec=/opt/usr/bin/dynamiclayouts
Icon=dynamiclayouts
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
