[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Editable Tree Model
Exec=/opt/usr/bin/editabletreemodel
Icon=editabletreemodel
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
