[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Framebuffer Object 2
Exec=/opt/usr/bin/framebufferobject2
Icon=framebufferobject2
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
