[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Spin Box Delegate
Exec=/opt/usr/bin/spinboxdelegate
Icon=spinboxdelegate
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
