QToolButton {
    border: none
}

QToolButton::menu-button {
    border: 2px solid gray;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* 16px width + 4px for border = 20px allocated above */
    width: 16px;
}

QToolButton::menu-indicator {
    image: url(:/icons/arrow-up.png);
    width: 16px;
    height: 16px;
    subcontrol-position: right bottom;
}

QToolButton::menu-arrow {
    subcontrol-position: bottom right;
    image: url(:/icons/arrow-up.png);
}
QToolButton::down-arrow {
    image: url(:/icons/arrow-up.png);
    background-color: blue
}
QToolButton::up-arrow {
    image: url(:/icons/arrow-up.png);
    background-color: green
}
QToolButton::left-arrow {
    image: url(:/icons/arrow-up.png);
    background-color: red
}
QToolButton::right-arrow {
    image: url(:/icons/arrow-up.png);
    background-color: cyan;
    width: 15px;
    height: 15px;
    subcontrol-position: right bottom;
}
