[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=XML Stream Lint
Exec=/opt/usr/bin/xmlstreamlint
Icon=xmlstreamlint
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
