bom.txt
out.txt
readAllStdinProcess/readAllStdinProcess
readAllStdinProcess/readAllStdinProcess.exe
readLineStdinProcess/readLineStdinProcess
readLineStdinProcess/readLineStdinProcess.exe
stdinProcess/stdinProcess
stdinProcess/stdinProcess.exe
testfile
tst_qtextstream
utf8bom
