data/*.xml                                                      -crlf
data/*.ref                                                      -crlf
XML-Test-Suite/*                                                -crlf
XML-Test-Suite/*/*                                              -crlf
XML-Test-Suite/*/*/*                                            -crlf
XML-Test-Suite/*/*/*/*                                          -crlf
XML-Test-Suite/*/*/*/*/*                                        -crlf
XML-Test-Suite/*/*/*/*/*/*                                      -crlf
XML-Test-Suite/*/*/*/*/*/*/*                                    -crlf
XML-Test-Suite/*/*/*/*/*/*/*/*                                  -crlf
