[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Fridge Magnets
Exec=/opt/usr/bin/fridgemagnets
Icon=fridgemagnets
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
