[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Hello GL ES 2
Exec=/opt/usr/bin/hellogl_es2
Icon=hellogl_es2
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
