[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Double Buffered Graphics Driver
Exec=/opt/usr/bin/dbscreen
Icon=dbscreen
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
