[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Simple Anchor Layout
Exec=/opt/usr/bin/simpleanchorlayout
Icon=simpleanchorlayout
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
